django>=5.0,<6.0
psycopg[binary]>=3.1,<4.0
ariadne>=0.23,<1.0
ariadne-graphql-modules>=0.7,<1.0
git+https://github.com/Usama0121/ariadne-jwt.git@master#egg=ariadne-jwt
gunicorn>=21.0,<23.0
ariadne_django
requests
django-cors-headers>=4.3,<5.0

# LLM scoring
openai>=1.0,<2.0
